.calBody {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 20%;
    width: 10%;
}

.calendar.currentDay button {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  font-size: 20pt;
}

.calendar.currentDay button:hover {
  background-color: rgb(25, 106, 226);
}

.calendar button {
    background-color: grey;
    height: 100%;
    width: 100%;
    font-size: 20pt;
}

.calendar button:hover {
    background-color: darkgray;
}

.popup {
    border-radius: 10px;
    width: 20%;
    height: 30%;
    background-color:green;
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    position: absolute;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.close-popup {
    visibility: hidden;
    top: 0%;
    transform: translate(-50%, -50%) scale(0.1);
}

.calEvents {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}

.whatMonth {
    color: black;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    padding: 0 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

}

.taskPopup {
        border-radius: 10px;
    width: 20%;
    height: 30%;
    background-color:green;
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    position: absolute;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.task-open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.task-close-popup {
    visibility: hidden;
    top: 0%;
    transform: translate(-50%, -50%) scale(0.1);
}

.task-preview-container {
  margin-top: 4px;
  font-size: 10pt;
}

.task-preview {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 2px 4px;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}