.calBody {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 20%;
    width: 10%;
}

.calendar button {
    background-color: grey;
    height: 100%;
    width: 100%;
    font-size: 20pt;
}

.popup {
    width: 10%;
    height: 20%;
    background-color:green;
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    position: absolute;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.close-popup {
    visibility: hidden;
    top: 0%;
    transform: translate(-50%, -50%) scale(0.1);
}

.calEvents {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}

.whatMonth {
    color: black;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}